---
title: S01E08
date: 2015-02-25
location: Bat. des Hautes Technologies
participants_count: 20
talks:
  - subject: Chef
    speaker: Mehdi Lahmam
    slides_url: https://speakerdeck.com/mehlah/cooking-clouds-like-a-chef
  - subject: Fabric
    speaker: Loïc Mathaud
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <div class="event-details">
    <p><%= image_tag 'calendar.svg' %> <%= current_page.data.date.strftime('%d-%m-%Y') %> <span class="separator">|</span> <%= image_tag 'map_marker.svg' %> <%= current_page.data.location %></p>
  </div>

  <div class="event-talks">
    <h5>Présentations</h5>
    <ul class="event-talks-list">
      <% current_page.data.talks.each do |talk| %>
        <li>
          <h6 class="talk-title"><%= talk.subject %> <%= link_to '(slides)', talk.slides_url if talk.slides_url.present? %> — <%= talk.speaker %></h6>
        </li>
      <% end %>
    </ul>
  </div>
</div>
