---
title: S01E09
date: 2015-03-25
location: Bat. des Hautes Technologies
participants_count: 25
talks:
  - subject: Gulp.js
    speaker: Sylvain Gougouzian
    slides_url: http://slides.com/gouz/gulp
---

<div class="container">
  <h3>Web en Vert #<%= current_page.data.title %></h3>

  <div class="next-event-details">
    <p><%= image_tag 'calendar.svg' %> <%= current_page.data.date.strftime('%d-%m-%Y') %> <span class="separator">|</span> <%= image_tag 'map_marker.svg' %> <%= current_page.data.location %></p>
  </div>

  <div class="next-event-talks">
    <h5>Conférences</h5>
    <ul class="next-event-talks-list">
      <% current_page.data.talks.each do |talk| %>
        <li><%= talk.subject %> <%= link_to '(slides)', talk.slides_url if talk.slides_url.present? %> — <%= talk.speaker %> </li>
      <% end %>
    </ul>
  </div>
</div>
