---
title: S02E09
date: 2016-06-24
location: Bat. des Hautes Technologies
participants_count: 34
talks:
  - subject: La Philosophie DIY
    speaker: Agnès Crépet
  - subject: Coder chez Google
    speaker: Pascal Corpet
  - subject: Écritures du monde & typographie latine
    speaker: Jessica Bordeau
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <div class="event-details">
    <p><%= image_tag 'calendar.svg' %> <%= current_page.data.date.strftime('%d-%m-%Y') %> <span class="separator">|</span> <%= image_tag 'map_marker.svg' %> <%= current_page.data.location %></p>
  </div>

  <div class="event-talks">
    <h5>Présentations</h5>
    <ul class="event-talks-list">
      <% current_page.data.talks.each do |talk| %>
        <li>
          <h6 class="talk-title"><%= talk.subject %> <%= link_to '(slides)', talk.slides_url if talk.slides_url.present? %> — <%= talk.speaker %></h6>
          <% if talk.embed_video_url.present? %>
            <div class="talk-video">
              <iframe width="560" height="315" src="<%= talk.embed_video_url %>" frameborder="0" allowfullscreen></iframe>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="event-people">
    <script async src="//widgets.nvite.com/1.3/cards.js" data-max="100" data-resource="6ywjng/guests" data-headline-text=":count galapiats y étaient"></script>
  </div>
</div>
