%header#main-header
  .wrap
    #logo Web en Vert
    %nav#main-nav
      %ul
        %li
          %a.scroll(href='#next-event') Prochain évènement
        %li
          %a.scroll(href='#what-is-wev') Web en Vert
        %li
          %a.scroll(href='#past-events') Précédents évènements
        %li
          %a.scroll(href='#our-sponsors') Nos Sponsors

%section#top
  %section#banner.wrap
    %h1 Nous sommes une communauté de professionnels du Web
    %h2 réunissant les faiseurs du Web à Saint Etienne, Loire. 42 !

  %section#next-event.wrap
    %h3 Notre prochain évènement
    %section#ticket
      %header
        %strong Programme
        %h4
          %a
            Refactoring — Mehdi Lahmam
      %section
        %div
          %strong Tarif
          %em PAF 10,00 €
        %div
          %strong Date
          %em mercredi 2 déc. 2015
        %div
          %strong Heure
          %em 19:00
      %footer
        #location
          %i.fa.fa-map-marker
          %a(href='https://www.google.fr/maps/place/20+rue+Benoît+Lauras,+42000+Saint-Étienne') Bat. Hautes Technologies
        %span.note Nombre de places limité
    %a#register.btn(href='http://doodle.com/poll/fwgiru4ermki4a6r') Inscrivez-vous à cette rencontre

%section#middle
  %section#what-is-wev.wrap
    %header
      %h3 Web en Vert
      %hr
    %section
      %p Ce sont des rencontres mensuelles entre gens qui font du Web dans la région de Saint Etienne et du Forez, qui ont envie d'échanger et de partager entre eux toutes les bonnes choses du Web.
      %p Nous sommes persuadés qu'il existe une chouette communauté à faire émerger, et des choses à faire tous ensemble : soirées de présentations, ateliers pratiques… le tout dans un esprit de convivialité et de partage.
    %footer
      %a.btn.blue(href='https://twitter.com/webenvert')
        %i.fa.fa-twitter
        Suivez-nous sur Twitter

      %a.btn.blue(href='http://tinyletter.com/webenvert')
        %i.fa.fa-envelope
        Inscrivez vous à la newsletter

  %section#community-members.wrap
    %header
      %h3 Galapiats
      %hr
    %section
      %ul#members

        - data.people.each do |person|
          %li.block
            %a(href='#{person.url}')
              %img(src='#{person.avatar}')

  %section#past-events.wrap
    %header
      %h3 Précédents évènements
      %hr
    %section

      - data.events.reverse.each do |event|
        %article
          %section
            %h4 #{event.title}
            %span.date
              %i.fa.fa-calendar-o
              #{event.date}
            %span.location
              %i.fa.fa-map-marker
              #{event.location}
            %ul
            - event.talks.each do |talk|
              %li
                %span.speaker #{talk.speaker}
                %br
                %span.subject
                  :markdown
                    #{talk.subject}


%section#our-sponsors
  .wrap
    %header
      %h3 Nos Sponsors
      %hr
    %section
      %ul#sponsors
        %li
          %a(href='http://1d-lab.eu')
            %span 1D Lab
            #sponsor-1dlab
        %li
          %a(href='')
            %span logo
            #sponsor-2

        %li
          %a(href='')
            %span logo
            #sponsor-3

      %a.btn(href='mailto:mehdi@craftsmen.io') Vous voulez sponsoriser ?

%footer#main-footer
  %strong
    Organisé par :
    %a(href='http://loic.mathaud.fr') Loïc Mathaud
    \-
    %a(href='http://twitter.com/mehlah') Mehdi Lahmam
